@import "../../variables/variables";

.accordion,
details,
.webform-element-more {
  &__heading {margin: 0;}
  &__trigger,
  summary,
  .webform-element-more--link {
    width: 100%;
    > * {
      display: block;
      max-width: $line-width;
    }
  }
  .webform-element-more--link {
    a {display: block;}
  }
  &__content {
    display: none;
    width: 100%;
    > .field__item > *:last-child {margin-bottom: 0;}
  }
  .details-wrapper,
  .webform-element-more--content {
    overflow: auto;
    width: 100%;
  }
}

details {
  summary::before {display: none;}
}