.calendar-view-table {
  caption {
    line-height: 1.5;
    margin: 0;
  }
  .views-field-title {
    h3 {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin: 0;
    }
  }
}