.field {
  &__label {font-weight: bold;}
  &--label-inline {
    .field {
      &__label {
        float: left;
        padding-right: 0.5em;
        &::after {content: ":";}
        [dir="rtl"] & {
          padding-right: 0;
          padding-left: 0.5em;
        }
      }
      &__items {
        float: left;
        padding-right: 0.5em;
        [dir="rtl"] & {
          padding-right: 0;
          padding-left: 0.5em;
        }
      }
    }
    > .field__item {padding-right: 0.5em;}
  }
}