@import "../../../variables/breakpoints";
@import "../../../mixins/media-queries";

$breakpoints: (
  xl: $breakpoint--xl,
  l: $breakpoint--l,
  m: $breakpoint--m,
  s: $breakpoint--s,
  xs: $breakpoint--xs
);

$queries: (xl, l, m, s, xs);

@for $i from 0 through 80 {
  .g-#{$i} {
    gap: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {gap: #{$i}px !important;}
      }
    }
  }
  .gx-#{$i} {
    column-gap: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {column-gap: #{$i}px !important;}
      }
    }
  }
  .gy-#{$i} {
    row-gap: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {row-gap: #{$i}px !important;}
      }
    }
  }
}