@import "../../../variables/breakpoints";
@import "../../../mixins/media-queries";

$breakpoints: (
  xl: $breakpoint--xl,
  l: $breakpoint--l,
  m: $breakpoint--m,
  s: $breakpoint--s,
  xs: $breakpoint--xs
);

$queries: (xl, l, m, s, xs);

@for $i from 0 through 80 {
  .m-#{$i} {
    margin: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin: #{$i}px !important;}
      }
    }
  }
  .mt-#{$i} {
    margin-top: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin-top: #{$i}px !important;}
      }
    }
  }
  .mr-#{$i} {
    margin-right: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin-right: #{$i}px !important;}
      }
    }
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin-bottom: #{$i}px !important;}
      }
    }
  }
  .ml-#{$i} {
    margin-left: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin-left: #{$i}px !important;}
      }
    }
  }
  .mx-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          margin-left: #{$i}px !important;
          margin-right: #{$i}px !important;
        }
      }
    }
  }
  .my-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          margin-top: #{$i}px !important;
          margin-bottom: #{$i}px !important;
        }
      }
    }
  }
  .m-auto {
    margin: auto !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin: auto !important;}
      }
    }
  }
  .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }
  }
  .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          margin-top: auto !important;
          margin-bottom: auto !important;
        }
      }
    }
  }
}