@import "../../../variables/breakpoints";
@import "../../../mixins/media-queries";

$breakpoints: (
xl: $breakpoint--xl,
l: $breakpoint--l,
m: $breakpoint--m,
s: $breakpoint--s,
xs: $breakpoint--xs
);

$queries: (xl, l, m, s, xs);

@for $i from 0 through 80 {
  @if $i % 4 == 0 {
    .m-#{$i} {
      margin: #{$i}px;
    }
    .mt-#{$i} {
      margin-top: #{$i}px;
    }
    .mr-#{$i} {
      margin-right: #{$i}px;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}px;
    }
    .ml-#{$i} {
      margin-left: #{$i}px;
    }
    .mx-#{$i} {
      margin-left: #{$i}px;
      margin-right: #{$i}px;
    }
    .my-#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }
    .m-auto {
      margin: auto;
    }
    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .my-auto {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

@each $query in $queries {
  @for $i from 0 through 80 {
    @if $i % 4 == 0 {
      .m-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin: #{$i}px;}
      }
      .mt-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin-top: #{$i}px;}
      }
      .mr-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin-right: #{$i}px;}
      }
      .mb-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin-bottom: #{$i}px;}
      }
      .ml-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin-left: #{$i}px;}
      }
      .mx-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          margin-left: #{$i}px;
          margin-right: #{$i}px;
        }
      }
      .my-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          margin-top: #{$i}px;
          margin-bottom: #{$i}px;
        }
      }
      .m-auto-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {margin: auto;}
      }
      .mx-auto-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .my-auto-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
}