@import "../../../variables/breakpoints";
@import "../../../mixins/media-queries";

$breakpoints: (
xl: $breakpoint--xl,
l: $breakpoint--l,
m: $breakpoint--m,
s: $breakpoint--s,
xs: $breakpoint--xs
);

$queries: (xl, l, m, s, xs);

@for $i from 0 through 80 {
  @if $i % 4 == 0 {
    .p-#{$i} {
      padding: #{$i}px;
    }
    .pt-#{$i} {
      padding-top: #{$i}px;
    }
    .pr-#{$i} {
      padding-right: #{$i}px;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}px;
    }
    .pl-#{$i} {
      padding-left: #{$i}px;
    }
    .px-#{$i} {
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }
    .py-#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }
  }
}

@each $query in $queries {
  @for $i from 0 through 80 {
    @if $i % 4 == 0 {
      .p-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding: #{$i}px;}
      }
      .pt-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding-top: #{$i}px;}
      }
      .pr-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding-right: #{$i}px;}
      }
      .pb-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding-bottom: #{$i}px;}
      }
      .pl-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding-left: #{$i}px;}
      }
      .px-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          padding-left: #{$i}px;
          padding-right: #{$i}px;
        }
      }
      .py-#{$i}-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          padding-top: #{$i}px;
          padding-bottom: #{$i}px;
        }
      }
    }
  }
}