@import "../../../variables/breakpoints";
@import "../../../mixins/media-queries";

$breakpoints: (
  xl: $breakpoint--xl,
  l: $breakpoint--l,
  m: $breakpoint--m,
  s: $breakpoint--s,
  xs: $breakpoint--xs
);

$queries: (xl, l, m, s, xs);

@for $i from 0 through 80 {
  .p-#{$i} {
    padding: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding: #{$i}px !important;}
      }
    }
  }
  .pt-#{$i} {
    padding-top: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding-top: #{$i}px !important;}
      }
    }
  }
  .pr-#{$i} {
    padding-right: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding-right: #{$i}px !important;}
      }
    }
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding-bottom: #{$i}px !important;}
      }
    }
  }
  .pl-#{$i} {
    padding-left: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {padding-left: #{$i}px !important;}
      }
    }
  }
  .px-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          padding-left: #{$i}px !important;
          padding-right: #{$i}px !important;
        }
      }
    }
  }
  .py-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
    @each $query in $queries {
      &-mq-#{$query} {
        @include max(map-get($breakpoints, $query)) {
          padding-top: #{$i}px !important;
          padding-bottom: #{$i}px !important;
        }
      }
    }
  }
}