 @import "../../../variables/variables";
 @import "../../../mixins/mixins";

.flex {
  display: flex;
  &-inline {display: inline-flex;}
}

.fd-c {flex-direction: column;}
.fd-cr {flex-direction: column-reverse;}
.fd-r {flex-direction: row;}
.fd-rr {flex-direction: row-reverse;}
.fw-nw {flex-wrap: nowrap;}
.fw-w {flex-wrap: wrap;}
.fw-wr {flex-wrap: wrap-reverse;}
.fg-1 {flex-grow: 1;}
.fs-0 {flex-shrink: 0;}
.fb-25 {flex-basis: 25%;}
.fb-33 {flex-basis: 33.33%;}
.fb-50 {flex-basis: 50%;}
.fb-75 {flex-basis: 75%;}
.fb-100 {flex-basis: 100%;}
.ai-c {align-items: center;}
.ai-fe {align-items: flex-end;}
.ai-fs {align-items: flex-start;}
.ai-s {align-items: stretch;}
.ai-b {align-items: baseline;}
.ac-c {align-content: center;}
.ac-fs {align-content: flex-start;}
.ac-fe {align-content: flex-end;}
.as-c {align-self: center;}
.as-ss {align-self: self-start;}
.as-se {align-self: self-end;}
.as-fs {align-self: flex-start;}
.as-fe {align-self: flex-end;}
.jc-c {justify-content: center;}
.jc-fs {justify-content: flex-start;}
.jc-fe {justify-content: flex-end;}
.jc-l {justify-content: left;}
.jc-r {justify-content: right;}
.jc-sb {justify-content: space-between;}
.ji-c {justify-items: center;}
.ji-fs {justify-items: flex-start;}
.ji-fe {justify-items: flex-end;}
.ji-ss {justify-items: self-start;}
.ji-se {justify-items: self-end;}
.ji-l {justify-items: left;}
.ji-r {justify-items: right;}
.js-c {justify-self: center;}
.js-fs {justify-self: flex-start;}
.js-fe {justify-self: flex-end;}
.js-ss {justify-self: self-start;}
.js-se {justify-self: self-end;}
.js-l {justify-self: left;}
.js-r {justify-self: right;}

@include max($breakpoint--xl){
  .fd-c-mq-xl {flex-direction: column;}
  .fd-cr-mq-xl {flex-direction: column-reverse;}
  .fd-r-mq-xl {flex-direction: row;}
  .fd-rr-mq-xl {flex-direction: row-reverse;}
  .fw-nw-mq-xl {flex-wrap: nowrap;}
  .fw-w-mq-xl {flex-wrap: wrap;}
  .fw-wr-mq-xl {flex-wrap: wrap-reverse;}
  .fg-1-mq-xl {flex-grow: 1;}
  .fs-0-mq-xl {flex-shrink: 0;} 
  .fb-25-mq-xl {flex-basis: 25%;}
  .fb-33-mq-xl {flex-basis: 33.33%;}
  .fb-50-mq-xl {flex-basis: 50%;}
  .fb-75-mq-xl {flex-basis: 75%;}
  .fb-100-mq-xl {flex-basis: 100%;}
  .ai-c-mq-xl {align-items: center;}
  .ai-fe-mq-xl {align-items: flex-end;}
  .ai-fs-mq-xl {align-items: flex-start;}
  .ai-s-mq-xl {align-items: stretch;}
  .ai-b-mq-xl {align-items: baseline;}
  .ac-c-mq-xl {align-content: center;}
  .ac-fs-mq-xl {align-content: flex-start;}
  .ac-fe-mq-xl {align-content: flex-end;}
  .as-c-mq-xl {align-self: center;}
  .as-ss-mq-xl {align-self: self-start;}
  .as-se-mq-xl {align-self: self-end;}
  .as-fs-mq-xl {align-self: flex-start;}
  .as-fe-mq-xl {align-self: flex-end;}
  .jc-c-mq-xl {justify-content: center;}
  .jc-fs-mq-xl {justify-content: flex-start;}
  .jc-fe-mq-xl {justify-content: flex-end;}
  .jc-l-mq-xl {justify-content: left;}
  .jc-r-mq-xl {justify-content: right;}
  .jc-sb-mq-xl {justify-content: space-between;}
  .ji-c-mq-xl {justify-items: center;}
  .ji-fs-mq-xl {justify-items: flex-start;}
  .ji-fe-mq-xl {justify-items: flex-end;}
  .ji-ss-mq-xl {justify-items: self-start;}
  .ji-se-mq-xl {justify-items: self-end;}
  .ji-l-mq-xl {justify-items: left;}
  .ji-r-mq-xl {justify-items: right;}
  .js-c-mq-xl {justify-self: center;}
  .js-fs-mq-xl {justify-self: flex-start;}
  .js-fe-mq-xl {justify-self: flex-end;}
  .js-ss-mq-xl {justify-self: self-start;}
  .js-se-mq-xl {justify-self: self-end;}
  .js-l-mq-xl {justify-self: left;}
  .js-r-mq-xl {justify-self: right;}
}
@include max($breakpoint--l){
  .fd-c-mq-l {flex-direction: column;}
  .fd-cr-mq-l {flex-direction: column-reverse;}
  .fd-r-mq-l {flex-direction: row;}
  .fd-rr-mq-l {flex-direction: row-reverse;}
  .fw-nw-mq-l {flex-wrap: nowrap;}
  .fw-w-mq-l {flex-wrap: wrap;}
  .fw-wr-mq-l {flex-wrap: wrap-reverse;}
  .fg-1-mq-l {flex-grow: 1;}
  .fs-0-mq-l {flex-shrink: 0;} 
  .fb-25-mq-l {flex-basis: 25%;}
  .fb-33-mq-l {flex-basis: 33.33%;}
  .fb-50-mq-l {flex-basis: 50%;}
  .fb-75-mq-l {flex-basis: 75%;}
  .fb-100-mq-l {flex-basis: 100%;}
  .ai-c-mq-l {align-items: center;}
  .ai-fe-mq-l {align-items: flex-end;}
  .ai-fs-mq-l {align-items: flex-start;}
  .ai-s-mq-l {align-items: stretch;}
  .ai-b-mq-l {align-items: baseline;}
  .ac-c-mq-l {align-content: center;}
  .ac-fs-mq-l {align-content: flex-start;}
  .ac-fe-mq-l {align-content: flex-end;}
  .as-c-mq-l {align-self: center;}
  .as-ss-mq-l {align-self: self-start;}
  .as-se-mq-l {align-self: self-end;}
  .as-fs-mq-l {align-self: flex-start;}
  .as-fe-mq-l {align-self: flex-end;}
  .jc-c-mq-l {justify-content: center;}
  .jc-fs-mq-l {justify-content: flex-start;}
  .jc-fe-mq-l {justify-content: flex-end;}
  .jc-l-mq-l {justify-content: left;}
  .jc-r-mq-l {justify-content: right;}
  .jc-sb-mq-l {justify-content: space-between;}
  .ji-c-mq-l {justify-items: center;}
  .ji-fs-mq-l {justify-items: flex-start;}
  .ji-fe-mq-l {justify-items: flex-end;}
  .ji-ss-mq-l {justify-items: self-start;}
  .ji-se-mq-l {justify-items: self-end;}
  .ji-l-mq-l {justify-items: left;}
  .ji-r-mq-l {justify-items: right;}
  .js-c-mq-l {justify-self: center;}
  .js-fs-mq-l {justify-self: flex-start;}
  .js-fe-mq-l {justify-self: flex-end;}
  .js-ss-mq-l {justify-self: self-start;}
  .js-se-mq-l {justify-self: self-end;}
  .js-l-mq-l {justify-self: left;}
  .js-r-mq-l {justify-self: right;}
}
@include max($breakpoint--m){
  .fd-c-mq-m {flex-direction: column;}
  .fd-cr-mq-m {flex-direction: column-reverse;}
  .fd-r-mq-m {flex-direction: row;}
  .fd-rr-mq-m {flex-direction: row-reverse;}
  .fw-nw-mq-m {flex-wrap: nowrap;}
  .fw-w-mq-m {flex-wrap: wrap;}
  .fw-wr-mq-m {flex-wrap: wrap-reverse;}
  .fg-1-mq-m {flex-grow: 1;}
  .fs-0-mq-m {flex-shrink: 0;} 
  .fb-25-mq-m {flex-basis: 25%;}
  .fb-33-mq-m {flex-basis: 33.33%;}
  .fb-50-mq-m {flex-basis: 50%;}
  .fb-75-mq-m {flex-basis: 75%;}
  .fb-100-mq-m {flex-basis: 100%;}
  .ai-c-mq-m {align-items: center;}
  .ai-fe-mq-m {align-items: flex-end;}
  .ai-fs-mq-m {align-items: flex-start;}
  .ai-s-mq-m {align-items: stretch;}
  .ai-b-mq-m {align-items: baseline;}
  .ac-c-mq-m {align-content: center;}
  .ac-fs-mq-m {align-content: flex-start;}
  .ac-fe-mq-m {align-content: flex-end;}
  .as-c-mq-m {align-self: center;}
  .as-ss-mq-m {align-self: self-start;}
  .as-se-mq-m {align-self: self-end;}
  .as-fs-mq-m {align-self: flex-start;}
  .as-fe-mq-m {align-self: flex-end;}
  .jc-c-mq-m {justify-content: center;}
  .jc-fs-mq-m {justify-content: flex-start;}
  .jc-fe-mq-m {justify-content: flex-end;}
  .jc-l-mq-m {justify-content: left;}
  .jc-r-mq-m {justify-content: right;}
  .jc-sb-mq-m {justify-content: space-between;}
  .ji-c-mq-m {justify-items: center;}
  .ji-fs-mq-m {justify-items: flex-start;}
  .ji-fe-mq-m {justify-items: flex-end;}
  .ji-ss-mq-m {justify-items: self-start;}
  .ji-se-mq-m {justify-items: self-end;}
  .ji-l-mq-m {justify-items: left;}
  .ji-r-mq-m {justify-items: right;}
  .js-c-mq-m {justify-self: center;}
  .js-fs-mq-m {justify-self: flex-start;}
  .js-fe-mq-m {justify-self: flex-end;}
  .js-ss-mq-m {justify-self: self-start;}
  .js-se-mq-m {justify-self: self-end;}
  .js-l-mq-m {justify-self: left;}
  .js-r-mq-m {justify-self: right;}
}
@include max($breakpoint--s){
  .fd-c-mq-s {flex-direction: column;}
  .fd-cr-mq-s {flex-direction: column-reverse;}
  .fd-r-mq-s {flex-direction: row;}
  .fd-rr-mq-s {flex-direction: row-reverse;}
  .fw-nw-mq-s {flex-wrap: nowrap;}
  .fw-w-mq-s {flex-wrap: wrap;}
  .fw-wr-mq-s {flex-wrap: wrap-reverse;}
  .fg-1-mq-s {flex-grow: 1;}
  .fs-0-mq-s {flex-shrink: 0;} 
  .fb-25-mq-s {flex-basis: 25%;}
  .fb-33-mq-s {flex-basis: 33.33%;}
  .fb-50-mq-s {flex-basis: 50%;}
  .fb-75-mq-s {flex-basis: 75%;}
  .fb-100-mq-s {flex-basis: 100%;}
  .ai-c-mq-s {align-items: center;}
  .ai-fe-mq-s {align-items: flex-end;}
  .ai-fs-mq-s {align-items: flex-start;}
  .ai-s-mq-s {align-items: stretch;}
  .ai-b-mq-s {align-items: baseline;}
  .ac-c-mq-s {align-content: center;}
  .ac-fs-mq-s {align-content: flex-start;}
  .ac-fe-mq-s {align-content: flex-end;}
  .as-c-mq-s {align-self: center;}
  .as-ss-mq-s {align-self: self-start;}
  .as-se-mq-s {align-self: self-end;}
  .as-fs-mq-s {align-self: flex-start;}
  .as-fe-mq-s {align-self: flex-end;}
  .jc-c-mq-s {justify-content: center;}
  .jc-fs-mq-s {justify-content: flex-start;}
  .jc-fe-mq-s {justify-content: flex-end;}
  .jc-l-mq-s {justify-content: left;}
  .jc-r-mq-s {justify-content: right;}
  .jc-sb-mq-s {justify-content: space-between;}
  .ji-c-mq-s {justify-items: center;}
  .ji-fs-mq-s {justify-items: flex-start;}
  .ji-fe-mq-s {justify-items: flex-end;}
  .ji-ss-mq-s {justify-items: self-start;}
  .ji-se-mq-s {justify-items: self-end;}
  .ji-l-mq-s {justify-items: left;}
  .ji-r-mq-s {justify-items: right;}
  .js-c-mq-s {justify-self: center;}
  .js-fs-mq-s {justify-self: flex-start;}
  .js-fe-mq-s {justify-self: flex-end;}
  .js-ss-mq-s {justify-self: self-start;}
  .js-se-mq-s {justify-self: self-end;}
  .js-l-mq-s {justify-self: left;}
  .js-r-mq-s {justify-self: right;}
}
@include max($breakpoint--xs){
  .fd-c-mq-xs {flex-direction: column;}
  .fd-cr-mq-xs {flex-direction: column-reverse;}
  .fd-r-mq-xs {flex-direction: row;}
  .fd-rr-mq-xs {flex-direction: row-reverse;}
  .fw-nw-mq-xs {flex-wrap: nowrap;}
  .fw-w-mq-xs {flex-wrap: wrap;}
  .fw-wr-mq-xs {flex-wrap: wrap-reverse;}
  .fg-1-mq-xs {flex-grow: 1;}
  .fs-0-mq-xs {flex-shrink: 0;} 
  .fb-25-mq-xs {flex-basis: 25%;}
  .fb-33-mq-xs {flex-basis: 33.33%;}
  .fb-50-mq-xs {flex-basis: 50%;}
  .fb-75-mq-xs {flex-basis: 75%;}
  .fb-100-mq-xs {flex-basis: 100%;}
  .ai-c-mq-xs {align-items: center;}
  .ai-fe-mq-xs {align-items: flex-end;}
  .ai-fs-mq-xs {align-items: flex-start;}
  .ai-s-mq-xs {align-items: stretch;}
  .ai-b-mq-xs {align-items: baseline;}
  .ac-c-mq-xs {align-content: center;}
  .ac-fs-mq-xs {align-content: flex-start;}
  .ac-fe-mq-xs {align-content: flex-end;}
  .as-c-mq-xs {align-self: center;}
  .as-ss-mq-xs {align-self: self-start;}
  .as-se-mq-xs {align-self: self-end;}
  .as-fs-mq-xs {align-self: flex-start;}
  .as-fe-mq-xs {align-self: flex-end;}
  .jc-c-mq-xs {justify-content: center;}
  .jc-fs-mq-xs {justify-content: flex-start;}
  .jc-fe-mq-xs {justify-content: flex-end;}
  .jc-l-mq-xs {justify-content: left;}
  .jc-r-mq-xs {justify-content: right;}
  .jc-sb-mq-xs {justify-content: space-between;}
  .ji-c-mq-xs {justify-items: center;}
  .ji-fs-mq-xs {justify-items: flex-start;}
  .ji-fe-mq-xs {justify-items: flex-end;}
  .ji-ss-mq-xs {justify-items: self-start;}
  .ji-se-mq-xs {justify-items: self-end;}
  .ji-l-mq-xs {justify-items: left;}
  .ji-r-mq-xs {justify-items: right;}
  .js-c-mq-xs {justify-self: center;}
  .js-fs-mq-xs {justify-self: flex-start;}
  .js-fe-mq-xs {justify-self: flex-end;}
  .js-ss-mq-xs {justify-self: self-start;}
  .js-se-mq-xs {justify-self: self-end;}
  .js-l-mq-xs {justify-self: left;}
  .js-r-mq-xs {justify-self: right;}
}
