.field {
  &__label {font-weight: bold;}
  &--label-inline {  
    + div{
      clear: both;
    }
    .field {
      &__label {
        float: left;
        padding-right: 0.5em;
        &::after {content: ":";}
        [dir="rtl"] & {
          padding-right: 0;
          padding-left: 0.5em;
        }
      } 
    }
    .field__items, .when {
      float: left;
      padding-right: 0.5em;
      margin-bottom: inherit;
      [dir="rtl"] & {
        padding-right: 0;
        padding-left: 0.5em;        
      }
    }
    > .field__item {padding-right: 0.5em;}
  }
}