.nav--breadcrumbs {
  clear: both;
  display: block;
  max-width: 100%;
  width: 100%;
  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
}